body {
    background-color: #090C08;
    color: #B9C6AE;
    font-weight: bold;
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
  }

  #budget {
    margin-left: 5px;
  }
  
  fieldset, label, #results {
    margin: 1rem 0 1rem;
  }

  .user-entry > * {
    display: block;
  }

  .add-entry {
    margin-bottom: 0.75rem;
  }
  
  button {
    background-color: #757083;
    border: 1px solid black;
    padding: 0.3rem 0.6rem;
  }
  
  button:hover {
    cursor: pointer;
  }

  #results {
    text-align: center;
    border: 1px solid #B9C6AE;
    display: none;
    padding: 1rem 1rem;
    text-align: center;
  }

  .surplus {
    color: #ce2029;
  }

  .deficit {
    color: #228b22;
  }